{% macro corona_data(name, current, add, color) %}
<div class="data_box">
    <div class="property">{{ name }}</div>
    <div class="data" style="color:{{ color }}">{{ current }}</div>
    {% if add == null or add == 0%}
    <div class="today_none" style="color:{{ color }}">新增待公布</div>
    {% elif add < 0  %}
    <div class="today_corona" style="color:{{ color }}">{{ add }}</div>
    {% else %}
    <div class="today_corona" style="color:{{ color }}">+{{ add }}</div>
    {% endif %}
</div>
{% endmacro %}