<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/img/wz2.png">
    <link rel="stylesheet" href="../static/css/about/about.css">

    <title>SJTUers-关于</title>
</head>
<body class="about_body" id="about_body">
    <div class="about_card">
        <div class="about_title">
            <span class="about_text">关于我们</span>
            <hr class="about_line" />
        </div>
        <div class="about_box">
            <h1>网站简介</h1>
            <p>
                SJTUers轻主页为非官方网站。本网站的目的在于为交大学生开发个性化主页，集成交大常用与生活常用为一体。
            </p>
            <h1>网站功能</h1>
            <p>
                集成交大常用网址，热搜、天气、疫情、食堂流量、图书馆流量等资讯板块；集成常用搜索引擎；使用jaccount登录后可使用自定义壁纸、网站收藏、倒计时功能。
            </p>
            <h1>隐私</h1>
            <p>
                轻主页部分功能需要使用jAccount接口获取并存储自定义信息，未登录时此类功能将提示为不可用。
            </p>
            <p>
                本网站所陈列的信息采集自于互联网，我们不对数据源做任何处理，服务器也不会存储任何数据，链接均跳转至原始网页地址访问。如果侵犯您的权益，请与管理员联系。原始网站信息不代表本产品观点。
            </p>
            <h1>
                开发者
            </h1>
            <p>
                本网站由2020级交大网安学院某软工课程小组开发。
            </p>
            <p>
                特别感谢王山木、谈子铭、邰嘉卫等同学提供的交大摄影图片。
            </p>
        </div>

    </div>


</body>
</html>