<!DOCTYPE html>
{#{% load static %}#}
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/wz2.png">
    <link rel="stylesheet" href="../static/css/index/style.css">
    <link rel="stylesheet" href="../static/css/index/searchbox.css">
    <link rel="stylesheet" href="../static/css/index/poem.css">
    <link rel="stylesheet" href="../static/css/index/sites.css">
    <link rel="stylesheet" href="../static/css/index/news.css">
    <link rel="stylesheet" href="../static/css/index/weather.css">
    <link rel="stylesheet" href="../static/css/index/tools.css">
    <link rel="stylesheet" href="../static/css/index/sidebar.css">
    <link rel="stylesheet" href="../static/css/index/windows.css">
    <link rel="stylesheet" href="../static/css/index/counter.css">
    <link rel="stylesheet" href="../static/css/index/submenu.css">
    <link rel="stylesheet" href="../static/css/index/countdown.css">
    <link rel="stylesheet" href="../static/css/weather/weather-icons.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/weather/weather-icons-wind.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/index/city-selector.css">
    <link rel="stylesheet" href="../static/css/index/wallpaper.css">
    <script type="text/javascript">
        var wallpaper_username = "{{ wallpaper.username }}";
        var wallpaper_photo = '{{ wallpaper.photo_url }}';
        var wallpaper_photo_name = '{{ wallpaper.photo_name }}';
        var wallpaper_css = '{{ wallpaper.css }}';
    </script>
    <script>
    setTimeout(function(){
        if (get_cookie("popped")==""){
            document.cookie="popped=yes";
            alert('点击时钟可切换简洁模式，鼠标滑动至画面最右侧开启侧边栏工具箱');
        }
    },2000);
    </script>
    <title>Hello, SJTUer!</title>
</head>
<body>

<div class="container" id="base_all">
    {% block counter %} {% endblock %}

    {% block poem %} {% endblock %}

    {% block search %} {% endblock %}

    {% block weather %} {% endblock %}

    {% block news %} {% endblock %}

    {% block tools %} {% endblock %}

    {% block sites %} {% endblock %}

    {% block sidebar %} {% endblock %}

    {% block windows %} {% endblock %}

    {% block countdown %} {% endblock %}

    <script type="text/javascript">
        var wallpaper_username = "{{ wallpaper.username }}";
        var wallpaper_photo = '{{ wallpaper.photo_url }}';
        var wallpaper_photo_name = '{{ wallpaper.photo_name }}';
        var wallpaper_css = '{{ wallpaper.css }}';
    </script>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/city-selector.data.js"></script>
    <script type="text/javascript" src="../static/js/city-selector.js"></script>
    <script type="text/javascript" src="../static/js/fontawesome.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/switch.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
    <script type="text/javascript" src="../static/js/counter.js"></script>
    <script type="text/javascript" src="../static/js/hide.js"></script>
    <script type="text/javascript" src="../static/js/windows.js"></script>
    <script type="text/javascript" src="../static/js/submenu.js"></script>
    <script type="text/javascript" src="../static/js/datelist.js"></script>
    <script type="text/javascript" src="../static/js/wallpaper.js"></script>
    <script type="text/javascript" src="../static/js/countdown.js"></script>
    <script type="text/javascript" src="../static/js/weather-widget.js"></script>
    <script type="text/javascript" src="../static/js/city-selector.data.js"></script>
    <script type="text/javascript" src="../static/js/city-selector.js"></script>
    <script type="text/javascript" src="../static/js/alert.js"></script>

</div>
</body>
</html>