aiohttp==3.8.4
alibabacloud_imageenhan20190930==2.0.10
alibabacloud_tea_openapi==0.3.7
alibabacloud_tea_util==0.3.8
alibabacloud_viapi20230117==2.0.1
Authlib==1.2.0
Django==4.0.2
lxml==4.9.1
opencv-python-headless
Requests==2.31.0
djangorestframework==3.14.0
django-cors-headers
asyncio
Pillow